data:
  path: /home/YOUR_USER/data/pk_48x48_log1p.pt

output:
  dir: /home/YOUR_USER/models
  splits_dir: /home/YOUR_USER/training

remote:
  host: YOUR_USER@YOUR_IP
  local_model_dir: /Volumes/easystore/proton-kaon/models
  data_src: /Volumes/easystore/proton-kaon/images/pk_48x48_log1p.pt
